@import "home";
@import url('https://fonts.googleapis.com/css?family=Rubik');

.contact{

  //height: 650px;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: "Source Sans Pro", sans-serif;

  .contact-header {

    font-weight: bold;
    margin-top: 50px;
  }
  .about-container{
    margin-top: 50px;

    p{
      margin-top: 25px;

      font-size: 1.3em;

    }

  }

  .map-container{
    margin-top: 100px;
  }

  #map{
    border: solid;
  }

  .hidden-legend{
    margin-top: 25px;

  .icon{
    margin-bottom: 15px;
  }
  }
  .legend-container{

    margin-top: 150px;

    .icon-container{
      margin-bottom: 25px;
    }
  }

}

