@import "home";
@import url('https://fonts.googleapis.com/css?family=Rubik');

.contact{

  //height: 650px;
  margin-top: 75px;
  margin-bottom: 100px;
  font-family: $font-stack;
  min-height: 50vh;

  .contact-header {

    font-weight: bold;
    margin-top: 50px;
    color: #333;
  }
  .about-container{
    margin-top: 50px;

    p{
      margin-top: 40px;
      font-size: 1.2em;

    }

  }

  .map-container{
    margin-top: 100px;
  }

  #map{
    border: 1px solid;
  }

  .hidden-legend{
    margin-top: 25px;

  }


  .icon{
    margin-bottom: 15px;
  }
  .legend-container{

    margin-top: 200px;

    .icon-container{
      margin-bottom: 25px;
    }
  }

}

@media(max-width: 426px){

  .about-container p{
    text-align: center;
    font-size: 0.5em;
  }
}

