@import url('https://fonts.googleapis.com/css?family=Rubik');
$font-stack: 'Helvetica Neue', sans-serif;
$font-color: #4C4D5C;
$gray-color: #F9F9F9;


.main{
  background: url('https://i.imgur.com/yHy2KQC.png');
  background-size: 100% 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 50vh;
  border-bottom: 2px solid #ebeced; /*fixes margin issue but weird...*/ /* fixes container extension, but weird... */


}

.second{
  min-height: 50vh;
  background-color: $gray-color;

}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {

  border-color: transparent;

}

.nav
.jumbotron{
  background-color: transparent;

}
.header {

  .navbarNav {
    font-family: $font-stack;
    margin-right: 150px;

    .nav-link {
      color: white;

    }
    .nav-item {
      margin-right: 50px;
    }

    .nav-link:hover{
      color: white;
      font-weight: bold;
    }


  }
}

.call-header{
  text-align: center;
  font-family: $font-stack;
  color: white;

  .main-header{
    margin-top: 25px;
  }
  .second-header{
    margin-top: 45px;
  }

}


.second {


  .button-container{
    margin-top: 50px;
  }
  .step-container{
    margin-top: 50px;
  }

  .button {

    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #192152;
    font-family: $font-stack;
    color: #192152;
  }

  .button:hover{
    background: #192152;
    color: #fff;
  }




  h2 {
    font-family: $font-stack;
    margin-top: 15px;
    font-weight: bold;
    color: $font-color;
  }
  p {
    margin-top: 15px;
    text-align: center;
    font-family: $font-stack;
  }

}


@media (min-width: 1440px)
{
  .button{
    font-size: 20px;
  }
  .nav-item{
    font-size: 20px;
  }
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 46px;
  }
  p{
    font-size: larger;
  }
  .call-header{
    margin-top: 50px;
  }
}










